.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
  width: 1440px;
  height: 78px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  align-self: baseline;
  margin: 13px  0 0 122px;
  letter-spacing: -0.4px;
}

.header-logo-burger {
  margin-top: 4px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 25px;
}

.burger-line {
  width: 100%;
  height: 3px;
  background: #173A56;
  border-radius: 5px;
}

.header-logo-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 31px;
  margin-left: 9px;
  color: #173A56;
}

.header-nav {
  margin: 28px 48px 0 0;
  display: flex;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
}

.header-nav__item {
  margin-right: 32px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__item a {
  transition: 0.3s;
}

.header-nav__item a:hover {
  color: #FF9900;
}

.header-login {
  display: flex;
  justify-content: space-evenly;
  height: 47px;
  margin: 15px 119px 0 0;
}

.header-login__btn {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  height: 44px;
  font-weight: 600;
  font-size: 15.5px;
}

.header-login__btn span {
  margin-top: 11px;
}

.sign-in {
  margin-right: 15px;
  width: 103px;
  border: 1px solid #BCD0E5;
  transition: 0.3s;
}

.sign-in:hover {
  background: #BCD0E5;
}

.sign-up {
  background: #FF9900;
  width: 111px;
  color: #ffffff;
  border: 1px solid #FF9900;
  transition: 0.3s;
}

.sign-up:hover {
  background: #FF7549;
}

@media (max-width: 1399px) {

  .header-wrapper {
    width: 768px;
  }

  .header-logo {
    margin: 13px 0 0 24px;
  }

  .header-logo-burger {
    display: flex;
  }

  .header-nav {
    display: none;
  }

  .header-logo img {
    margin-left: 37px;
  }

  .header-login {
    margin: 15px 46px 0 0;
  }

}